 {{#each news}}
<div class="panel panel-info">
  <div class="panel-heading">
    <div class="panel-title">
      <a href={{this.link}}><h2>{{this.title}}</h2></a>
    <a id={{this.index}} class="btn btn-success">Save the Article</a>
    </div>
  </div>
  <div class="panel-body">
    <div>{{this.summary}}</div>
    <a href={{this.link}}>Read More</a>
  </div>
</div>
{{/each}}

<script>
  // When you click the savenote button
  $(document).on("click", ".btn-success", function () {
    // Grab the id associated with the article from the submit button
    var thisId = $(this).attr("id");
  
    // Run a POST request to change the note, using what's entered in the inputs
    $.ajax({
      method: "POST",
      url: "/articles/" + thisId,
      data: {
        // Value taken from title input
        title: $(this).siblings("h1").children("a").text(),
        // Value taken from note textarea
        summary: $(this).parent("div").siblings("div.panel-body").children("div").text(),
        link: $(this).siblings("h1").children("a").attr("href")
      }
    })
      // With that done
      .then(function (data) {
        // Log the response
        if (data.errmsg) {
          alert(data.errmsg)
        } else {
          alert("Article " + data._id + " Saved!")
        }
      });
      });

</script>